[Unit]
Description = Sonarqube Service

[Service]
User=bin
WorkingDirectory=sonarqbe/sonarqube-10.5.1.90531/bin/linux-x86-64
ExecStart=sonarqbe/sonarqube-10.5.1.90531/bin/linux-x86-64/sonar.sh start
SyslogIdentifier=sonarqube
Type=forking

[Install]
WantedBy=multi-user.target